stages:
  - prepare
  - audit
  - lint
  - build
  - publish

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE != "merge_request_event"

include:
  - project: 'intern/runner-templates'
    ref: "16.1"
    file: '/npm/install-js-dependencies.yml'
  - project: 'intern/runner-templates'
    ref: "16.1"
    file: '/npm/audit.yml'
  - project: 'intern/runner-templates'
    ref: "16.1"
    file: '/homey/validate.yml'
  - project: 'intern/runner-templates'
    ref: "16.1"
    file: '/homey/build.yml'
  - project: 'intern/runner-templates'
    ref: "16.1"
    file: '/homey/publish.yml'

validate:
  before_script: &before_script
    - npm run prep

build:
  before_script:
    - *before_script

publish:
  script:
    - npm run publish shelly
